<a ui-sref="app.chapters.detail.events.list({ chapterId: event.chapter.id })">{{event.chapter.name}} Events</a>

<h1>{{event.name}}</h1>
<p>{{event.start_time | date:'fullDate'}}</p>
<p>{{event.description}}</p>
<p>
  <button class="btn btn-default" ng-click="openNewParticipantDialog()">New Hasher</button>
  <a ui-sref="app.events.print({ eventId: event.id })" class="btn btn-default">Print</a>
</p>

<p>
  <input type="text" ng-model="selectedParticipant.query" typeahead-editable="false"
    typeahead="participant as participant.alias + ' (' + participant.full_name + ')' for participant in getParticipants($viewValue)"
    typeahead-on-select="onSelectParticipant($item, $model, $label)"/>
</p>

<h3>{{event.host_count}} <span ng-pluralize count="event.host_count" when="{'1': 'Hare', 'other': 'Hares'}"></span></h3>
<ul>
  <li ng-repeat="attendance in event.attendances | filter:{host:'true'}">
    <a ui-sref="app.participants.detail({ participantId: attendance.participant.id })">{{attendance.participant.alias}} ({{attendance.participant.full_name}})</a>
    <span ng-repeat="tag in attendance.tags">{{tag.name}}</span>
    <p>
      <a class="btn btn-default btn-xs" ng-click="removeAttendance(attendance)">Remove attendance</a>
      <a class="btn btn-default btn-xs" ng-click="changeHostStatus(attendance, false)">Remove as hare</a>
    </p>
  </li>
</ul>

<h3>{{event.guest_count}} <span ng-pluralize count="event.guest_count" when="{'1': 'Harrier', 'other': 'Harriers'}"></span></h3>
<ul>
  <li ng-repeat="attendance in event.attendances | filter:{host:'false'}">
    <a ui-sref="app.participants.detail({ participantId: attendance.participant.id })">{{attendance.participant.alias}} ({{attendance.participant.full_name}})</a>
    <span ng-repeat="tag in attendance.tags">{{tag.name}}</span>
    <p>
      <a class="btn btn-default btn-xs" ng-click="removeAttendance(attendance)">Remove attendance</a>
      <a class="btn btn-default btn-xs" ng-click="changeHostStatus(attendance, true)">Make hare</a>
    </p>
  </li>
</ul>