<p>
  <a ui-sref="app.events.detail({ eventId: event.id })">Back</a>
  &bull;
  <a ui-sref="app.chapters.detail.events.list({ chapterId: event.chapter.id })">{{event.chapter.name}} Events</a>
</p>

<h1>{{event.name}} (#{{event.id}})</h1>
<p>{{event.start_time | date:'fullDate'}}</p>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Hash Name</th>
    <th>Sign in</th>
    <th>Hashes after sign in</th>
    <th>Last Hash</th>
    <th>Hares</th>
  </thead>
  <tbody>
    <tr ng-repeat="affiliation in event.affiliations">
      <td>{{affiliation.participant.name}}</td>
      <td>{{affiliation.participant.alias}}</td>
      <td><span ng-if="affiliation.host">HARE<span></td>
      <td>{{affiliation.attendance_count + 1}}</td>
      <td>{{affiliation.last_attended_event_date}}</td>
      <td>{{affiliation.host_count}}</td>
    </tr>
  </tbody>
</table>