<h1>{{event.name}}</h1>
<a ui-sref="app.chapters.detail({ chapterId: event.chapter.id })">{{event.chapter.name}}</a>
<p>{{event.start_time | date:'fullDate'}}</p>

<h3>Attendees</h3>
<ul>
	<li ng-repeat="attendance in event.attendances">
		<a ui-sref="app.participants.detail({ participantId: attendance.participant.id })">{{attendance.participant.alias}} ({{attendance.participant.full_name}})</a>
		<span ng-repeat="tag in attendance.tags">{{tag.name}}</span>
		<!--
		<span ng-repeat="tag_id in attendance.tag_ids">
			<span ng-init="tag = _.findWhere(event.tags, {id: tag_id})">{{tag_id}} {{tag.name}}</span>
		</span>
	-->
	</li>
</ul>